<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITempService" />
                <binding name="BasicHttpBinding_ITempService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3056/TempService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITempService" contract="TempServiceReference1.ITempService"
                name="BasicHttpBinding_ITempService" />
            <endpoint address="http://localhost:3056/TempService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITempService1" contract="ServiceReference1.ITempService"
                name="BasicHttpBinding_ITempService1" />
        </client>
    </system.serviceModel>
</configuration>