<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITempService" />
                <binding name="BasicHttpsBinding_ITempService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://tempmeasure.azurewebsites.net/TempService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITempService"
                contract="TempServiceReference1Azure.ITempService" name="BasicHttpBinding_ITempService" />
            <endpoint address="https://tempmeasure.azurewebsites.net/TempService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITempService"
                contract="TempServiceReference1Azure.ITempService" name="BasicHttpsBinding_ITempService" />
        </client>
    </system.serviceModel>
</configuration>